p { display: inline } /*necessario*/


body {
  
  font-family: Arial;
  font-size: 17px;
}


* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-10 {
  -ms-flex: 10%; /* IE10 */
  flex: 10%;
}
.col-15 {
  -ms-flex: 15%; /* IE10 */
  flex: 15%;
}
.col-20 {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}
.col-30 {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
}

.col-40 {
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-70 {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-10,
.col-15,
.col-20,
.col-25,
.col-30,
.col-40,
.col-50,
.col-70,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.fieldText{
  font-size:17px;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}


.btn {
  display: block; /* to center button */
  background-color: #3274d6;/*#4CAF50*/
  color: white;
  padding: 12px;
  margin: 10px auto;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #2868c7;
}

/*.otherInfo {
  font-size:17px;
  width: 100%;
  margin-bottom: 20px;
  padding: 36px;
  border: 1px solid #ccc;
  border-radius: 3px;
} used for old notes*/

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}



.TOPfieldText {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}